* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  color: #4d4e53;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
}

body {
  display: flex;
}

/* NAVBAR SECTION */
#navbar {
  display: flex;
  flex-direction: column;
  float: left;
  min-width: 290px;
  position: fixed;
  background-color: white;
  width: 20%;
  height: 100%;
  border-right: rgba(0, 22, 22, 0.4) solid;
}

#navbar header {
  font-size: 1.8rem;
  margin: 10px;
  text-align: center;
  color: black;
}

#navbar ul {
  display: flex;
  flex-direction: column;
  border: 1px solid;
}

#navbar ul li {
  padding: 20px;
  border-top: 1px solid;
  font-size: 1rem;
}

/* MAIN SECTION */
#main-doc {
  position: absolute;
  margin-left: 310px;
  margin-bottom: 110px;
}
.main-section {
  width: 100%;
  padding: 20px;
}

.main-section header {
  font-size: 1.8rem;
  margin: 20px;
  color: black;
}

.main-section p {
  margin: 24px;
}

.main-section ul {
  margin: 10px 80px;
}

.main-section ul li {
  padding: 6px;
}

.main-section code {
  background-color: #f7f7f7;
  display: block;
  text-align: left;
  word-wrap: normal;
  line-height: 2;
  font-size: 0.96em;
  font-family: monospace;
  margin: 26px 50px;
  padding: 10px;
  height: 100%;
  border-radius: 6px;
}

@media (max-width: 768px) {
  #navbar header {
    color: rgb(38, 35, 175);
  }
}
